<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PeriodSetting" value="2h"/>
    <add key="TimespanPassedSetting" value="5m"/>
    <add key="MaxRequestLimit" value="20"/>

    <add key="LocationPeriodSetting" value="5h"/>
    <add key="LocationTimespanPassedSetting" value="15m"/>
    <add key="LocationWithDifferentPeriodSetting" value=""/>

    <add key="ResourceARuleSetting" value="1"/>
    <add key="ResourceBRuleSetting" value="2|3"/>
    <add key="ResourceCRuleSetting" value="1|3"/>
  </appSettings>
</configuration>